{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TemperatureInCelsius</th>
                <th>Humidity</th>
                <th>WindSpeed</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.temperatureInCelsius }}</td>
                <td>{{ weather.humidity }}</td>
                <td>{{ weather.windSpeed }}</td>
                <td>{{ weather.Date ? weather.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_FORECAST_SHOW') %}
                        <a href="{{ path('app_better_weather_show', {'id': weather.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_FORECAST_EDIT') %}
                        <a href="{{ path('app_better_weather_edit', {'id': weather.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_FORECAST_NEW') %}
        <a href="{{ path('app_better_weather_new') }}">Create new</a>
    {% endif %}
{% endblock %}
