{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1>City index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>ZipCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.country }}</td>
                <td>{{ city.latitude }}</td>
                <td>{{ city.longitude }}</td>
                <td>{{ city.zipCode }}</td>
                <td>
                    {% if is_granted('ROLE_LOCATION_SHOW') %}
                        <a href="{{ path('app_city_show', {'id': city.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_LOCATION_EDIT') %}
                        <a href="{{ path('app_city_edit', {'id': city.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_LOCATION_NEW') %}
        <a href="{{ path('app_city_new') }}">Create new</a>
    {% endif %}
{% endblock %}
